<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
   <div th:fragment="menu">
    <a href="/cloudbigdata/main">Main Content</a> <br /> <br />
    <a href="/cloudbigdata/websocket">WebSocket / Sock.js Demo</a> <br /> <br />
    <a href="/cloudbigdata/jpa">JPA Demo</a><br /> <br />
    <a href="/cloudbigdata/administrator">Administrator</a><br /> <br />
    <!-- needed for spring security CSRF protection -->
    <form  th:action="'/cloudbigdata/logout?'+${_csrf.parameterName}+'='+${_csrf.token}" method="post" enctype="multipart/form-data">
    	<input type="submit" name="logout" value="Logout"/>
    </form>
    </div>
</body>
</html>
